/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "MS PGothic", sans-serif;
}

/* Center the container */
.container {
    margin: 0 auto;
    max-width: 500px;
    background-color: #f5f5f5; /* Light gray background for a modern look */
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slightly larger shadow */
}

/* Style form elements */
label, input, select, button {
    display: block;
    margin-bottom: 20px; /* Increased spacing between elements */
    width: 100%;
    padding: 10px; /* Slightly larger padding */
    border: 1px solid #e0e0e0; /* Softer border color */
    border-radius: 8px; /* Slightly rounded corners */
    font-size: 16px; /* Larger font size */
    transition: border-color 0.3s ease-in-out; /* Smooth transition for border color */
}

/* Style form elements on focus */
label[for="weight"], input[type="number"], select, button:focus {
    outline: none;
    border-color: #007bff; /* Highlight border color on focus */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}

/* Update the styling for the result and error messages */
#result, #error {
    margin-top: 30px; /* Increased spacing from the top */
    padding: 20px; /* Larger padding for messages */
    border-radius: 8px;
    background-color: #ffffff; /* White background for messages */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: left; /* Align text to the left */
}

/* Bold the dosage result number */
#result span {
    font-weight: bold;
    background-color: #007bff; /* Blue background color for the number box */
    color: #fff; /* White text color */
    padding: 4px 8px; /* Adjust padding as needed */
    border-radius: 4px; /* Rounded corners for the box */
}

.hidden {
    display: none;
}

/* Center the label and input horizontally */
label[for="weight"], input[type="number"] {
    text-align: center;
    margin: 0 auto;
}

/* Adjust label alignment for smaller screens */
@media (max-width: 500px) {
    label[for="weight"] {
        text-align: left; /* Align left for small screens */
    }
}

/* Add a rule for the small-font class */
.small-font {
    font-size: 12px; /* Adjust the font size to your preference */
}
